@{
    ViewBag.Title = "Inicio";
}

<!DOCTYPE html>
<html>
    <head>
        @Styles.Render("~/Content/Home.css")
    </head>
    <body>
        <div class="divGeral">
            <!-- BATER PONTO -->
            <div class="divGeralUm">
                <div class="divPrincipal" ">
                    <div class="divBarraPrimaria">
                        BATER PONTO
                    </div>
                    <div class="divBarraSecundaria">
                        <div style="width: 50%; padding-top: 2px;">
                            <!-- DATA (Ex: 01/01/2024) -->
                            <div style="font-size: 14px;" class="divDataCompleta">
                                @DateTime.Now.ToShortDateString() 
                            </div>
                            <!-- SEMANA (Ex: sexta-feira) -->
                            <div style="line-height: 14px;" class="divDataCompleta">
                                @{ 
                                    string Data = DateTime.Now.ToLongDateString();
                                    string Semana = string.Empty;

                                    for (int a = 0; Data[a].ToString() != ","; a++)
                                    {
                                        Semana += Data[a].ToString();
                                    }
                                }
                                @Semana.ToUpper()
                            </div>
                        </div>
                        <!-- HORÁRIO (Ex: 22:06:12) -->
                        <div class="divHoraCompleta">
                            @DateTime.Now.ToLongTimeString()
                            <!-- Deixar data atualizando automaticamente -->
                        </div>
                    </div>
                    <div class="divBotoes">
                        <!-- ENTRADA -->
                        <a class="divBotao divEntrada" href="">
                            <div class="divTextoBotao">
                                ENTRADA
                            </div>
                            <div class="divIconeBotao">
                                <img class="imgBotao" src="/Content/Img/Entrada.png" />
                            </div>
                        </a>
                        <!-- PAUSA -->
                        <a class="divBotao divPausa" href="">
                            <div class="divTextoBotao">
                                PAUSA
                            </div>
                            <div class="divIconeBotao">
                                <img class="imgBotao" src="/Content/Img/XicaraCheia.png" />
                            </div>
                        </a>
                        <!-- RETORNO -->
                        <a class="divBotao divRetorno" href="">
                            <div class="divTextoBotao">
                                RETORNO
                            </div>
                            <div class="divIconeBotao">
                                <img class="imgBotao" style="margin-top: -5px;" src="/Content/Img/XicaraVazia.png" />
                            </div>
                        </a>
                        <!-- SAÍDA -->
                        <a class="divBotao divSaida" href="">
                            <div class="divTextoBotao">
                                SAÍDA
                            </div>
                            <div class="divIconeBotao">
                                <img class="imgBotao" src="~/Content/Img/Saida.png" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- REGISTRO DE PONTO -->
            <div class="divGeralDois">
                <div class="divSecundaria">
                    <!-- TITULO -->
                    <div class="divBarraPrimaria">
                        REGISTRO DE PONTO
                    </div>
                    <!-- REGISTROS -->
                    <div class="divRegistros">
                        <!-- REGISTRO -->
                        <div class="divRegistro">
                            <!-- DATA -->
                            <div class="divTextoDataRegistro">
                                29/10/2023 - SEXTA-FEIRA
                            </div>
                            <!-- ENTRADA -->
                            <div class="divRegistroEntrada">
                                <div class="divTextoRegistro">
                                    08:01:02
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    ENTRADA
                                </div>
                            </div>
                            <!-- PAUSA -->
                            <div class="divRegistroPausa">
                                <div class="divTextoRegistro">
                                    11:58:23
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    PAUSA
                                </div>
                            </div>
                            <!-- RETORNO -->
                            <div class="divRegistroRetorno">
                                <div class="divTextoRegistro">
                                    12:26:53
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    RETORNO
                                </div>
                            </div>
                            <!-- SAIDA -->
                            <div class="divRegistroSaida">
                                <div class="divTextoRegistro">
                                    17:04:13
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    SAIDA
                                </div>
                            </div>
                        </div>
                        <!-- REGISTRO -->
                        <div class="divRegistro">
                            <!-- DATA -->
                            <div class="divTextoDataRegistro">
                                29/10/2023 - SEXTA-FEIRA
                            </div>
                            <!-- ENTRADA -->
                            <div class="divRegistroEntrada">
                                <div class="divTextoRegistro">
                                    08:01:02
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    ENTRADA
                                </div>
                            </div>
                            <!-- PAUSA -->
                            <div class="divRegistroPausa">
                                <div class="divTextoRegistro">
                                    11:58:23
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    PAUSA
                                </div>
                            </div>
                            <!-- RETORNO -->
                            <div class="divRegistroRetorno">
                                <div class="divTextoRegistro">
                                    12:26:53
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    RETORNO
                                </div>
                            </div>
                            <!-- SAIDA -->
                            <div class="divRegistroSaida">
                                <div class="divTextoRegistro">
                                    17:04:13
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    SAIDA
                                </div>
                            </div>
                        </div>
                        <!-- REGISTRO -->
                        <div class="divRegistro">
                            <!-- DATA -->
                            <div class="divTextoDataRegistro">
                                29/10/2023 - SEXTA-FEIRA
                            </div>
                            <!-- ENTRADA -->
                            <div class="divRegistroEntrada">
                                <div class="divTextoRegistro">
                                    08:01:02
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    ENTRADA
                                </div>
                            </div>
                            <!-- PAUSA -->
                            <div class="divRegistroPausa">
                                <div class="divTextoRegistro">
                                    11:58:23
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    PAUSA
                                </div>
                            </div>
                            <!-- RETORNO -->
                            <div class="divRegistroRetorno">
                                <div class="divTextoRegistro">
                                    12:26:53
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    RETORNO
                                </div>
                            </div>
                            <!-- SAIDA -->
                            <div class="divRegistroSaida">
                                <div class="divTextoRegistro">
                                    17:04:13
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    SAIDA
                                </div>
                            </div>
                        </div>
                        <!-- REGISTRO -->
                        <div class="divRegistro">
                            <!-- DATA -->
                            <div class="divTextoDataRegistro">
                                29/10/2023 - SEXTA-FEIRA
                            </div>
                            <!-- ENTRADA -->
                            <div class="divRegistroEntrada">
                                <div class="divTextoRegistro">
                                    08:01:02
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    ENTRADA
                                </div>
                            </div>
                            <!-- PAUSA -->
                            <div class="divRegistroPausa">
                                <div class="divTextoRegistro">
                                    11:58:23
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    PAUSA
                                </div>
                            </div>
                            <!-- RETORNO -->
                            <div class="divRegistroRetorno">
                                <div class="divTextoRegistro">
                                    12:26:53
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    RETORNO
                                </div>
                            </div>
                            <!-- SAIDA -->
                            <div class="divRegistroSaida">
                                <div class="divTextoRegistro">
                                    17:04:13
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    SAIDA
                                </div>
                            </div>
                        </div>
                        <!-- REGISTRO -->
                        <div class="divRegistro">
                            <!-- DATA -->
                            <div class="divTextoDataRegistro">
                                29/10/2023 - SEXTA-FEIRA
                            </div>
                            <!-- ENTRADA -->
                            <div class="divRegistroEntrada">
                                <div class="divTextoRegistro">
                                    08:01:02
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    ENTRADA
                                </div>
                            </div>
                            <!-- PAUSA -->
                            <div class="divRegistroPausa">
                                <div class="divTextoRegistro">
                                    11:58:23
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    PAUSA
                                </div>
                            </div>
                            <!-- RETORNO -->
                            <div class="divRegistroRetorno">
                                <div class="divTextoRegistro">
                                    12:26:53
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    RETORNO
                                </div>
                            </div>
                            <!-- SAIDA -->
                            <div class="divRegistroSaida">
                                <div class="divTextoRegistro">
                                    17:04:13
                                </div>
                                <div class="divSeparadorRegistro">
                                    |
                                </div>
                                <div class="divTextoRegistro">
                                    SAIDA
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>